
/** body **/
body
{
  margin:0;
  padding:0;
  background-color:#41BAB1
}

#page
{
  line-height:1.5em;
  word-spacing:0.14em;
}

#page-inner
{
}

/** header **/
#header
{
  background-color:#FFFFFF;
  border-bottom:4px solid #DD4853;
  height:108px;
}

#header-inner
{
}

#logo-title /* Wrapper for logo, website name, and slogan */
{
  float:left;
  margin-left:142px;
  width:640px;
}

#logo /* Wrapper for logo */
{
  margin: 0 10px 0 12px;
  padding: 0;
}

#logo-image /* The actual logo image */
{
}

h1#site-name, div#site-name /* The name of the website */
{
  font-size:2.5em;
  line-height:1.3em;
  margin:0;
  padding-top:0.4em;
}

#site-name a:link,
#site-name a:visited
{
  color: #CA2126;
  text-decoration: none;
}

#site-name a:hover
{
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */
{
}

#top-right {
  float:right;
  margin-right:68px;
  position:relative;
  top:20px;
}

#header-blocks /* Wrapper for any blocks placed in the header region */
{
}

/** main (container for everything else) **/
#main
{
  background-color:#41BAB1;
  padding:24px 0 32px;
}

#main-inner
{
  background-color: #FFFFFF;
  margin: 0 auto;
  width:930px;

}

/** content **/
#content
{
  width:610px;
  margin:0 !important;
}

#content-inner {
  border-right:1px solid #E6E6E6;
  padding:1em !important;
  width:610px;
}

#main-inner-top
{
  background:#FFFFFF url(images/bkg_container_top.gif) no-repeat scroll left top;
}

#main-inner-bottom {
  background:#FFFFFF url(images/bkg_container_bottom.gif) no-repeat scroll left top;
}

#main-inner-top,
#main-inner-bottom
{
  height: 6px;
  margin:0 auto;
  width: 930px;
}

#mission /* The mission statement of the site (displayed on homepage) */
{
  background-color:#FFFFFF;
  border:1px solid #E0E5FB;
  font-size:1.2em;
  margin-bottom:1em;
  padding:0.6em;
}

#content-top /* Wrapper for any blocks placed in the "content top" region */
{
}

#content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
{
}

.breadcrumb /* The path to the current page in the form of a list of links */
{
  padding-bottom: 1em; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */
{
  margin-bottom: 0.25em;
  color: #CA2126;
}

div.messages /* Important messages (status, warning, and error) for the user */
{
  margin-bottom: 1em;
}

div.status /* Normal priority messages */
{
  background-color:#ECF7FC;
  border:2px solid #DFF2BF;
  color:#020202;
}

div.warning, tr.warning /* Medium priority messages */
{
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error, tr.error /* High priority messages. See also the .error declaration below. */
{
}

div.tabs /* See also the tabs.css file. */
{
}

.help /* Help text on a page */
{
  margin: 1em 0;
}

.more-help-link /* Link to more help */
{
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */
{
}

.pager /* A list of page numbers when more than 1 page of content is available */
{
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a, .pager strong.pager-current
{
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */
{
  /*margin: 1em 0;*/
}

#content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
{
}

/** navbar **/
#navbar
{
  background-color:#FFFFFF;
  font-size:1.2em;
  height:1.3em;
  padding:6px 0;
  text-align: center;
}

#navbar-inner
{
}

#search-box /* Wrapper for the search form */
{
  float:none;
  margin:0 10px 0 12px;
  position:relative;
  top:28px;
  width:auto;
}

#edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
{
  display: none;
}

#primary /* Primary links */
{
}

#secondary /* Secondary links */
{
  bottom:4px;
  float:none;
  margin:0 10px 0 12px;
  position:relative;
}

/** sidebar-left **/
#sidebar-left
{
}

#sidebar-left-inner
{
}

/** sidebar-right **/
#sidebar-right
{
  margin-top: 0 !important;
  width:285px;
}

#sidebar-right-inner
{
  margin:2px;
}

/** footer **/
#footer
{
  min-height:90px;
  background-color:#FFFFFF;
}

#footer p {
  margin: 0 !important;
}

#footer-inner
{
  margin:0 auto;
  text-align:center;
  width:960px;
}

#footer-blocks
{

}

.footer-block
{
  float:left;
  width:240px;
}

#footer-one
{

}

#footer-two
{

}

#footer-three
{

}

#footer-four {

}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */
{
  color:#C2C2C2;
  text-align:center;
  display: block;
  clear: both;
}

/** closure **/
#closure-blocks /* Wrapper for any blocks placed in the closure region */
{
}

/** Drupal nodes **/
.node /* Node wrapper */
{
  border-bottom:1px solid #E6E6E6;
  margin-bottom:2em;
  padding-bottom:1em;
}

.node-inner /* Additional wrapper for node */
{
}

.sticky /* A sticky node (displayed before others in a list) */
{
}

.node-unpublished /* Unpublished nodes */
{
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
.comment-unpublished div.unpublished
{
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-mine /* A node created by the current user */
{
}

.node-teaser /* A node displayed as teaser */
{
}

/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
.node-type-page /* Page content node */
{
}

.node-type-story /* Story content node */
{
}

.node h2.title /* Node title */
{
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */
{
  color: #c00;
}

.node .picture /* The picture of the node author */
{
  float:left;
  margin:8px 14px 0 0;
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture
{
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */
{
}

.node .submitted /* The "posted by" information */
{
  color:#C2C2C2;
  font-size:12px;
  height:12px;
  margin-bottom:6px;
}

.node .terms /* Node terms (taxonomy) */
{
}

.node .content /* Node's content wrapper */
{
  text-align: justify;
}

.node div.links /* Wrapper for node links */
{
  margin: 1em 0;
}

ul.links /* Taxonomy links, node links, comment links */
{
  margin: 0;
  padding: 0;
}

ul.links.inline
{
  display: inline;
}

ul.links li
{
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

.preview .node /* Preview of the content before submitting new or updated content */
{
  background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/** Drupal comments **/
#comments /* Wrapper for the list of comments and its title */
{
  margin: 1em 0;
}

#comments-title /* Heading for the list of comments */
{
}

.comment /* Wrapper for a single comment */
{
  border-bottom:1px solid #C2C2C2;
  margin-left:22px;
}

.comment-inner /* Additional wrapper for a single comment */
{
}

.comment-preview /* Preview of the comment before submitting new or updated comment */
{
}

.comment.new /* A new comment since the user last viewed the page. */
{
}

.comment.odd /* An odd-numbered comment in the list of comments */
{
}

.comment.even /* An even-numbered comment in the list of comments */
{
}

.comment.first /* The first comment in the list of comments */
{
}

.comment.last /* The last comment in the list of comments */
{
}

.comment-unpublished /* Unpublished comments */
{
  background-color: #fff4f4; /* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
{
}

.comment-published /* Published comments */
{
}

.comment-by-anon /* A comment created by an anonymous user */
{
}

.comment-by-author /* A comment created by the node's author */
{
}

.comment-mine /* A comment created by the current user */
{
}

.comment h3.title /* Comment title */
{
}

.new /* "New" marker for comments that are new for the current user */
{
  color: #c00;
}

.comment .picture /* The picture of the comment author */
{
  float:left;
  margin:8px 14px 0 0;
}

.comment .submitted /* The "posted by" information */
{
  color:#C2C2C2;
  font-size:12px;
  height: 12px;
}

.comment .content /* Comment's content wrapper */
{
}

.comment .user-signature /* The user's signature */
{
}

.comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */
{
  margin: 1em 0;
}

.indented /* Nested comments are indented */
{
  /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */
{
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/** Drupal blocks **/
#sidebar-right .block /* Block wrapper */
{
  /*background:#ECF7FC url(images/bkg_sideBlock_top.gif) no-repeat scroll left top;
  padding:11px 11px 8px 10px;*/
}

#sidebar-right .block-bottom /* Block wrapper */
{
  background:#ECF7FC url(images/bkg_sideBlock_bottom.gif) no-repeat scroll left top;
  font-size:1px;
  height:5px;
  margin-bottom:16px;
}

.block.region-odd /* Zebra striping for each block in the region */
{
}

.block.region-even /* Zebra striping for each block in the region */
{
}

.block.odd /* Zebra striping independent of each region */
{
}

.block.even /* Zebra striping independent of each region */
{
}

.region-count-1 /* Incremental count for each block in the region */
{
}

.count-1 /* Incremental count independent of each region */
{
}

.block-inner /* Additional wrapper for block */
{
  background:#FFFFFF url(images/bkg_sideBlock_inner_top.gif) no-repeat scroll left top;
  padding:1px 8px;
}

.block h2.title /* Block title */
{
  border-bottom:1px solid #E6E6E6;
}

.block .content /* Block's content wrapper */
{
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */
{
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */
{
}

#block-block-1 /* First administrator-defined block */
{
}

#block-blog-0 /* "Recent blog posts" block */
{
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */
{
}

#block-comments-0 /* "Recent comments" block */
{
}

#block-forum-0 /* "Active forum topics" block */
{
}

#block-forum-1 /* "New forum topics" block */
{
}

#block-menu-2 /* "Primary links" block */
{
}

#block-node-0 /* "Syndicate" block for primary RSS feed */
{
}

#block-poll-0 /* "Most recent poll" block */
{
}

#block-profile-0 /* "Author information" block for the profile of the page's author */
{
}

#block-search-0 /* "Search form" block */
{
}

#block-statistics-0 /* "Popular content" block */
{
}

#block-user-0 /* "User login form" block */
{
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */
{
}

#block-user-2 /* "Who's new" block for a list of the newest users */
{
}

#block-user-3 /* "Who's online" block for a list of the online users */
{
}

/** Drupal boxes **/
/* Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */
{
}

.box-inner /* Additional wrapper for box */
{
}

.box h2.title /* Box title */
{
}

.box .content /* Box's content wrapper */
{
}

/** Miscellaneous Drupal styles **/
.error /* Errors that are separate from div.messages status messages (see above.) */
{
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages (see above.) */
{
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.more-link /* Aggregator, blog, and forum more link */
{
  text-align: right;
}

#user-login-form /* Drupal's default login form */
{
  text-align: none;
}

tr.even /* Some tables have rows marked even or odd. */
{
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd
{
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

li a.active /* The active item in a Drupal menu */
{
  color: #000;
}


/** Drupal forms **/
.form-item, /* Wrapper for a form element (or group of form elements) and its label */
.form-checkboxes,
.form-radios
{
  margin: 1em 0;
}

.form-item input.error, /* Highlight the form elements that caused a form submission error */
.form-item textarea.error,
.form-item select.error
{
  border: 2px solid #c00;
}

.form-item label /* The label for a form element */
{
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */
{
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */
{
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */
{
  font-size: 0.85em;
}

.form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
.form-radios .form-item
{
  margin: 0.4em 0;
}

.form-submit /* The submit button */
{
}

.container-inline div, .container-inline label /* Inline labels and form divs */
{
  display: inline;
}

.tips /* Tips for Drupal's input formats */
{
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

/** OpenID **/
/* The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */
#user-login-form ul /* OpenID creates a new ul above the login form's links. */
{
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

#user-login-form li.openid-link, /* The "Log in using OpenID" links. */
#user-login li.openid-link
{
  margin-top: 1em;
  margin-left: -20px; /* Un-do some of the padding on the ul list. */
  padding-left: 20px;
  background-position: left center;
}

#user-login-form li.user-link, /* The "Cancel OpenID login" links. */
#user-login li.user-link
{
  margin-top: 1em;
  list-style-type: disc;
  list-style-position: outside;
}

#user-login li.openid-link, /* The OpenID links on the /user form. */
#user-login li.user-link
{
  margin-left: -2em; /* Un-do all of the padding on the ul list. */
}

/** Drupal admin tables **/
/* We overrode these styles in html-elements.css, but restore them for the
 * forms on the site.
 */
form tbody
{
  border-top: 1px solid #ccc;
}

form th
{
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
}

form tbody th
{
  border-bottom: 1px solid #ccc;
}

form thead th
{
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
}

div.admin-panel {
  border:2px solid #ECF7FC;
  margin:10px 0;
  padding:0 4px;
}
